<!DOCTYPE html>
{% load staticfiles %}
{% block Expert %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{% static 'css/NIOKR.css' %}">
        <style>

        </style>
    </head>
    <body>
        <div class="content">
            <div class="header">
                <a href="http://127.0.0.1:8000">
                    <img src="https://static.wixstatic.com/media/41d000_a534fb96fd2ff380519313d02b80f75b.png/v1/fill/w_70,h_45,al_c,usm_0.50_1.20_0.00/41d000_a534fb96fd2ff380519313d02b80f75b.png">
                <h1>Выполнение НИОКР</h1>
                </a>
            </div>
            {% if user.is_authenticated %}
            <div class="link_to_main_page">
                <input type="submit" value="На Главную" onclick="window.location='http://127.0.0.1:8000'">
            </div>
            <form action="http://127.0.0.1:8000/expert/", method="POST">
                {% csrf_token %}
                {{Expert}}

                <input type="submit" value="Выбрать">  
            </form>
            {% for field in show_requests %}
                {{field.short_description}}
                {{field.client_id.first_name}}
            {% endfor %}
            {% endif %}
            <footer>

            </footer>
        </div>    
    </body>
</html>

{% endblock %}